* {
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

body{
    background-color: #f2f9ff;
}

nav {
    background-color: #44454b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: auto;
}

nav h3 {
    color: #ffffff;
    font-size: 25px;
    position: relative;
    right: 28%;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    position: relative;
    left: 28%;    
}

nav li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    margin: 0 20px;
}

nav li a:hover {
    color: #ffffff7c;
}

